## f-string

In [2]:
age=30
print("My age is :{age}")

My age is :{age}

In [3]:
print(f"My age is :{age}")

My age is :30

## format () function

In [4]:
name = "Arjun"
age = 32
print("My name is {} and age is {}".format(name,age))

My name is Arjun and age is 32

In [6]:
## placeholder
print("My name is {a} and age is {b}".format(a=name,b=age))

My name is Arjun and age is 32

In [9]:
name = "Ram"
age = 23
degree = "BE"
print("My age is {b} and I have completed my degree in {c}: with the name of {a}" .format(a=name,b=age,c=degree))

My age is 23 and I have completed my degree in BE: with the name of Ram

In [1]:
## IF statements

In [15]:
age = int(input("Enter your age"))
if age>=18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age 14

You are not eligible to vote

In [26]:
age = int(input("Enter the patient's age"))
if age<=15:
    print("the patient is children")
elif age>=16 and age<=30:
    print("the patient is adult")
elif age>30 and age<=55:
    print("the patient is middle-aged")
else: 
    print("the patient is senior-citizen")

Enter the patient's age 123

the patient is senior-citizen

In [34]:
price = int(input("Enter the product price"))
if price<500:
    print("thank you shopping visit us again")
elif price>=500 and price<=1000:
    print("the price of the product is {}".format(price*0.9))
elif price>1000 and price<=1500:
    print("the price of the product is {}".format(price*0.8))
elif price>1500 and price<=3000:
    print("the price of the product is {}".format(price*0.7))
elif price>3000 and price<=5000:
    print("the price of the product is {}".format(price*0.6))
else:
    print("the price of the product is {}".format(price*0.5))

Enter the product price 3200

the price of the product is 1920.0

In [35]:
## comparison operator
True == True

True

In [44]:
## Single statement
val = int(input("Enter the value"))
if val<=999 : print("the value is less than 1000")
else : print("the value is greater than 1000")

Enter the value 123

the value is less than 1000

In [46]:
## While loop
joining_age = 22
while joining_age<=60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print("TIme for retirement")

23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
TIme for retirement

In [52]:
budget = 100
while budget<=1001:
    print(budget)
    budget = budget+100
else:
    print("Exceeding budget")

100
200
300
400
500
600
700
800
900
1000
Exceeding budget

In [58]:
amount = 1000
while amount!=0:
    amount = amount-100
    print(amount)
else:
    print("the account balance is 0")

900
800
700
600
500
400
300
200
100
0
the account balance is 0

In [60]:
overs = 0
while overs!=20:
    overs = overs+5
    print(overs)
else:
    print("the match is completed")

5
10
15
20
the match is completed

In [61]:
## For loop

In [62]:
a = [1,2,3,4,"Rajkumar","King","Apple"]

In [63]:
for x in a:
    print(x)

1
2
3
4
Rajkumar
King
Apple

In [64]:
fruits = ["apple","cherry","dates","grapes","banana"]

In [65]:
for x in fruits:
    print(x)

apple
cherry
dates
grapes
banana

In [67]:
for x in fruits:
    print(x)
    if x=="cherry":
        print("the fruit name is cherry")

apple
cherry
the fruit name is cherry
dates
grapes
banana

In [68]:
## print in a single line
for x in fruits:
    print(x, end='')

applecherrydatesgrapesbanana

In [69]:
m = "mango"
for x in m:
    print(x)

m
a
n
g
o

In [70]:
m[0]

'm'

In [71]:
m[1]

'a'

In [72]:
m[2]

'n'

In [73]:
m[4]

'o'

In [76]:
## range:- give two values namely start and stop, you can also include step size
range(1,10)

range(1, 10)

In [77]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [78]:
## step size 2
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [80]:
## step size 3
for i in range(1,10,3):
    print(i)

1
4
7

In [81]:
### Nested Loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [83]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [118]:
   for i in range(n):
        # Printing leading spaces to right-align the triangle
        print(" " * (n * 2 - 2 - i * 2), end="")
        
        # Printing asterisks
        print("*" * (2 * i + 1))

            *
          ***
        *****
      *******
    *********
  ***********
*************

In [103]:
## Loop control :- Break & Continue

In [112]:
for x in fruits:
    if x == "dates":
        print("the fruit is dates")
    print(x)

apple
cherry
the fruit is dates
dates
grapes
banana

In [111]:
for x in fruits:
    if x == "dates":
        print("the fruit is dates")
        break
    print(x)

apple
cherry
the fruit is dates

In [113]:
for x in fruits:
    if x == "dates":
        print("the fruit is dates")
        pass
    print(x)

apple
cherry
the fruit is dates
dates
grapes
banana

In [114]:
for x in fruits:
    if x == "dates":
        print("the fruit is dates")
        continue
    print(x)

apple
cherry
the fruit is dates
grapes
banana